In [1]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [6]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

import pandas as pd

mylist=[1,2,3,4,5,6,7,8,9,10]
myseries=pd.Series(mylist)

print(myseries)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [12]:
'''
Q3. Create a Pandas DataFrame that contains the following data:

Name               Age                         Gender

Alice              25                          Female
Bob                30                           Male
Charlie            27                          Female



Then, print the DataFrame.'''


import pandas as pd

data={
    "Name":["Alice" , "Bob" , "Charlie"],
    "Age":[25 , 30 , 27 ],
    "Gender":["Female" , "Male" , "Female"]
}

df=pd.DataFrame(data)

print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   27  Female

In [13]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

'''

In Pandas, a DataFrame is a two-dimensional tabular data structure that consists of rows and columns.
 It can be thought of as a table or a spreadsheet, where each column represents a variable or feature, and each row represents an observation or data point.
  DataFrames are highly versatile and offer a wide range of operations and functionalities for data manipulation and analysis.

On the other hand, a Series is a one-dimensional labeled array in Pandas.
 It can be seen as a single column of a DataFrame.
 A Series can store any data type and provides a labeled index that allows for efficient access to individual elements.'''

import pandas as pd

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)

print("DataFrame:")
print(df)
print()

# Creating a Series
ages = pd.Series([25, 30, 27], name='Age')

print("Series:")
print(ages)

DataFrame:
      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   27  Female

Series:
0    25
1    30
2    27
Name: Age, dtype: int64

In [26]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?




import pandas as pd

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)

print("DataFrame:")
print(df)
print()

# Creating a Series
ages = pd.Series([25, 30, 27], name='Age')

print("Series:")
print(ages)



df.head(2)          # Returns the first 5 rows of the DataFrame

DataFrame:
      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   27  Female

Series:
0    25
1    30
2    27
Name: Age, dtype: int64

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male

In [17]:
df.tail(2)            # Returns the last 3 rows of the DataFrame

      Name  Age  Gender
1      Bob   30    Male
2  Charlie   27  Female

In [18]:
 df.info()                         # Show the information about DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [25]:
df['Gender'].value_counts()  # Counts the occurrences of each gender in the 'Gender' column

Female    2
Male      1
Name: Gender, dtype: int64

In [21]:

df_sorted = df.sort_values('Age')  # Sorts the DataFrame by the 'Age' column in ascending order

In [22]:
print(df_sorted)

      Name  Age  Gender
0    Alice   25  Female
2  Charlie   27  Female
1      Bob   30    Male

In [24]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

'''
Among the options provided, both Series and DataFrame are mutable in nature, while Panel is not mutable.

1.  Series:
A Series in Pandas is mutable, meaning its values can be modified after it is created. You can update, delete, or add new values to a Series using indexing or built-in methods.

2. DataFrame:
Similar to a Series, a DataFrame is also mutable. You can modify the values of individual cells, update entire columns, add or remove columns, and perform various data manipulation operations on a DataFrame.

3. Panel:
Panels were a data structure in earlier versions of Pandas (prior to version 0.20.0) designed to handle three-dimensional data. However, Panels have been deprecated in recent versions, and the recommended way to handle three-dimensional data is using multi-indexed DataFrames. Panels are not mutable as they are no longer actively supported.

Therefore, the correct answer is: Series and DataFrame are mutable, while Panel is not mutable.'''

'\nAmong the options provided, both Series and DataFrame are mutable in nature, while Panel is not mutable.\n\n1.  Series: \nA Series in Pandas is mutable, meaning its values can be modified after it is created. You can update, delete, or add new values to a Series using indexing or built-in methods.\n\n2. DataFrame: \nSimilar to a Series, a DataFrame is also mutable. You can modify the values of individual cells, update entire columns, add or remove columns, and perform various data manipulation operations on a DataFrame.\n\n3. Panel: \nPanels were a data structure in earlier versions of Pandas (prior to version 0.20.0) designed to handle three-dimensional data. However, Panels have been deprecated in recent versions, and the recommended way to handle three-dimensional data is using multi-indexed DataFrames. Panels are not mutable as they are no longer actively supported.\n\nTherefore, the correct answer is: Series and DataFrame are mutable, while Panel is not mutable.'

In [23]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.

import pandas as pd

# Creating Series
name_series = pd.Series(['Alice', 'Bob', 'Charlie'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

# Creating DataFrame using pd.concat()
df_concat = pd.concat([name_series, age_series, gender_series], axis=1)
print("DataFrame using pd.concat():")
print(df_concat)
print()

# Creating DataFrame using pd.DataFrame() constructor
df_dict = pd.DataFrame({
    'Name': name_series,
    'Age': age_series,
    'Gender': gender_series
})
print("DataFrame using pd.DataFrame() constructor:")
print(df_dict)

DataFrame using pd.concat():
         0   1       2
0    Alice  25  Female
1      Bob  30    Male
2  Charlie  27  Female

DataFrame using pd.DataFrame() constructor:
      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   27  Female